//- Menu Principal
-let menu = ['Quienes Somos', 'quienes.html', 'Proyectos','proyectos.html', 'Contactar','contactar.html']

//- Branding
-let logotipo = 'LOGO'
-let marca = 'Toni Ferrà'

//- Botones
-let botones = ['Inicio', 'Registro', 'Ver más']

//- Año Actual
-let today = new Date();
-let year = today.getFullYear();

    