/* ******************************** */
/* ******************************** */
/* FOOTER */
/* ******************************** */
/* ******************************** */
/* ******************************** */
.footer {
    background-color:$color-footer;
    @extend .footer
}
.footer__empresa {
        grid-column: 2/3;
        grid-row: 2/5;
        padding: convertir(10) 0;
        
    }
.empresa__quienes{
    grid-column: 2/3;
    grid-row: 3/4;
    
}  
.empresa__empresas{
    grid-column: 2/3;
    grid-row: 4/5;
} 
.footer__comunidad {
        grid-column: 4/5;
        grid-row: 2/6;
        padding: convertir(10) 0;
        
    }
.footer__contactar {
        grid-column: 6/7;
        grid-row: 2/5;
        padding: convertir(10) 0;
        
        

    }
.footer__redes {
        grid-column: 8/9;
        grid-row: 2/6;
        
    }
.footer__input {
        grid-column: 11/12;
        grid-row: 4/5;
        
    }
.footer__copy {
        grid-column: 6/9;
        grid-row: 7/8;
        font-size: convertir(18);
    }
.input__primero{
        grid-column: 11/12;
        grid-row: 4/5;
        padding: convertir(18);
}