h2.footer__logotipo= logotipo
ul.footer__menu
    li.menu__quienes
    li.menu__proyectos
    li.menu__contactar


h6.footer__copyright &copy; Copyright #{year} - #{marca}
//- mixin de columnas

//- Scripts
//- JS
script(src="/js/main.js")

//- Google Analytics

//- StatCounter