ul.footer__empresa   EMPRESA
    li.empresa__quienes Quienes Somos
    li.empresa__empresas Empresas
ul.footer__comunidad  COMUNIDAD
    li.comunidad__eventos  Eventos
    li.comunidad__contactar  contactar
    li.comunidad__foros  Foros
ul.footer__contactar  CONTACTAR
    li.contactar__formulario  Formulario
    li.contactar__telefono  +34 666 66 66 66
ul.footer__redes  REDES
    li.redes__facebook Facebook
    li.menu__twitter  Twitter
    li.redes__instagram Instagram
ul.footer__input    
    li.input 
        input.input__primero(type="", placeholder="tu email")
        a.input__boton(href="#") Noticias

h6.footer__copy Copyright 2020


