h1.header__logo LOGOTIPO
nav.header__menu
    a.menu__inicio(href="index.html") Inicio
    a.menu__productos(href="productos.html") Productos
    a.menu__quienes(href="servicios.html") Servicios
a.header__contactar(href="#") Comprar Ya!

