article.segundo__opc2     
h4.opc2__titulo2  Opción 2
p.opc2__parrafo2  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eum animi reiciendis earum aliquid tempore sequi aspernatur, maxime aperiam incidun
article.segundo__opc3
h4.opc3__titulo3   Opción 3
p.opc3__parrafo3   Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, provident amet alias autem explicabo totam inventore ea qui esse 
article.segundo__opc4
h4.opc4__titulo4  Opción 4
p.opc4__parrafo4  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt at ratione cum repellendus rem facilis, dolorum natus repudiandae volupt
img.segundo__camara2(src="../assets/img/desktop/camara2.png", alt="")
