article.sect__primero
    h2.primero__titulo  Nueva Càmara, con Nueva Lente
    p.primero__parrafo  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate aut, tempore nostrum, deleniti quasi qui officiis ipsam animi ipsum voluptatem delectus velit maxime in eaque a nemo explicabo rerum officia!Velit 
boton.sect__boton  Leer Mas
img.sect__camara1(src="../assets/img/desktop/camara1.svg", alt="")